
*{
    background-color: rgb(193, 190, 190);
}

.text-center{
    text-align: center;
    color: rgb(80, 80, 223);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 95px;
    
}


.button{
    padding: 20px;
    margin:  0 5px;
    border: 2px solid black;
    border-radius: 10px;
 background-color: rgb(237, 178, 90);
 color: rgb(15, 15, 15);
    font-size:24px;
    width: 85px;
    height: 79px;
}


input {
    padding: 18px 0 ;
    margin: 15px;
    border: 5px solid black;
    border-radius: 15px;
    font-size: 29px;
    height: 17px;
    background-color: rgb(190, 196, 207);
}

.calculator{
    margin: auto;
    background-color: rgb(33, 37, 37);
    display: inline-block;
    border: 5px solid rgb(21, 20, 21);
    font-size: 52px;
    margin-left: 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
